{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Section expériences professionnelles</h1>

    J'ai eu différentes expériences professionnelles le long de ma vie. Certaines expériences n'ont aucun lien avec l'informatique. J'ai en effet de nombreuse fois travaillé pour mon père qui est agriculteur et éleveur. C'est pour la plupart des travaux physiques, d'autres fois trouver des solutions à des problèmes. Et quelques fois des travaux avais un lien avec l'électronique. J'ai aussi expérimenté le travail de vitrailliste pour mon stage de 3ème. J'ai donc aidé a reconstituer des vitraux pour les églises. Mais les véritables travaux que j'ai effectué en relation avec mon cursus informatique sont nombreux. J'ai assisté un électricien pour préparer l'arrivée de THD42 qui allait nous passer des câbles de fibre optique. Chez mes parents le remplacement était assez compliqué étant donné que l'on habite en pleine campagne, Les câbles qui nous reliait étaient entérré sous terre. Après de nombreux problèmes nous avons réussi à passer une ficelle dans les gaines qui servaient au câbles téléphoniques. J'ai donc aquéri de nombreuses compétences sur le terrain et j'ai pu me familiariser avec l'équipement d'électricien. De plus j'ai aussi réalisé le cablage a l'intérieur de la maison. J'ai passé des câbles sans embouts puis j'ai relié les connexions RJ45 le tout relié à un switch lui même relié à notre box internet. 
    <ul>
        



        </section>
                <footer id="footer-full">
            <div class="footer-content-medium">

                <div class="footer-row">
                    <div>
                        <i class="bi bi-envelope-fill"></i>
                        <a href="mailto:romain.ducreux@etu.univ-st-etienne.fr">Mail</a>
                    </div>
                    <div>
                        <i class="bi bi-telephone-fill"></i>
                        <a href="tel:+33749495357">Téléphone</a>
                    </div>
                    <div>
                        <i class="bi bi-linkedin"></i>
                        <a href="https://www.linkedin.com/in/romain-ducreux-009021399/" target="_blank">LinkedIn</a>
                    </div>
                    <div>
                        <i class="bi bi-github"></i>
                        <a href="https://github.com/RomainDcrx" target="_blank">GitHub</a>
                    </div>
                </div>

                <p class="footer-copy">© {{ "now"|date("Y") }} — Ducreux — Tous droits réservés.</p>

            </div>
        </footer>
    </ul>
</div>
{% endblock %}
