{% extends 'base.html.twig' %}

{% block title %}Eportfolio{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Télécharger mon CV en pdf</h1>

    Pour télécharger mon cv veuillez remplir ce court formulaire <br><br>
        
        <label>Nom :</label>
    <input type="text" id="nom" placeholder="Votre nom"><br><br>
    
    <label>Email :</label>
    <input type="email" id="email" placeholder="Votre email">
    
    <br><br>
    <button onclick="telechargerPDF()">Télécharger PDF</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script>
        function telechargerPDF() {
            const nom = document.getElementById('nom').value;
            const email = document.getElementById('email').value;
            
            if (!nom || !email) {
                alert('Remplissez tous les champs !');
                return;
            }
            
            const link = document.createElement('a');
            link.href = "{{ asset ('Romain_Ducreux_CV.pdf')}}"
            link.download = 'Romain_Ducreux_CV.pdf';
            link.style.display = 'none';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
    </script>
        </section>
                <footer id="footer-full">
            <div class="footer-content-medium">

                <div class="footer-row">
                    <div>
                        <i class="bi bi-envelope-fill"></i>
                        <a href="mailto:romain.ducreux@etu.univ-st-etienne.fr">Mail</a>
                    </div>
                    <div>
                        <i class="bi bi-telephone-fill"></i>
                        <a href="tel:+33749495357">Téléphone</a>
                    </div>
                    <div>
                        <i class="bi bi-linkedin"></i>
                        <a href="https://www.linkedin.com/in/romain-ducreux-009021399/" target="_blank">LinkedIn</a>
                    </div>
                    <div>
                        <i class="bi bi-github"></i>
                        <a href="https://github.com/RomainDcrx" target="_blank">GitHub</a>
                    </div>
                </div>

                <p class="footer-copy">© {{ "now"|date("Y") }} — Ducreux — Tous droits réservés.</p>

            </div>
        </footer>
    </ul>
</div>
{% endblock %}
