{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Compétence : Administrer</h1>

    <a href="https://docs.google.com/document/d/1uzdBc1NYlyJVd336y5T-04pXRm0g33r-7B9wpZGJVgU/edit?usp=drive_link" class="btn-lien">AC11.01 Maîtriser les lois fondamentales de l’électricité afin d’intervenir sur des équipements de réseaux et télécommunications</a><br><br>
    <a href="https://docs.google.com/document/d/1zQFAnXC-XvCUa5H3teC8Lt_8mWx_k_yubcpQSIEgWLM/edit?usp=sharing" class="btn-lien">Analyse réflexive – AC11.01 : Maîtriser les lois fondamentales de l’électricité afin d’intervenir sur des équipements de réseaux et télécommunications</a><br><br>
    
    <a href="https://docs.google.com/document/d/1QLLOSdAOkjkr_H6SZXbrpDl8Jc_RQL9UIe06JE47x44/edit?usp=sharing" class="btn-lien">AC11.02 Comprendre l’architecture et les fondements des systèmes numériques, les principes du codage de l’information, des communications et de l’Internet</a><br><br>
    <a href="https://docs.google.com/document/d/1QFXSjInpGbiurXtav-_ZloGqa79v7bf2Zi-wIzmXHAc/edit?usp=sharing" class="btn-lien">Analyse réflexive -- AC11.02 : Comprendre l'architecture et les fondements des systèmes numériques, les principes du codage de l'information, des communications et de l'Internet</a><br><br>
    
    
    <a href="https://docs.google.com/document/d/1uoDZaEKMBtS5FvgwXieAvoKQt-_N5EqW/edit?usp=drive_link&ouid=115482077810493883746&rtpof=true&sd=true" class="btn-lien">AC11.06 Installer un poste client, expliquer la procédure mise en place</a><br><br>
    <a href="https://docs.google.com/document/d/1GuqYfqlQpAY_DEBn46yuRx5COZgs0pKE/edit?usp=drive_link&ouid=115482077810493883746&rtpof=true&sd=true" class="btn-lien">Analyse réflexive -- AC11.06 Installer un poste client, expliquer la procédure mise en place</a><br><br>
    <ul>
        <footer id="footer-full">
            <div class="footer-content-medium">

                <div class="footer-row">
                    <div>
                        <i class="bi bi-envelope-fill"></i>
                        <a href="mailto:romain.ducreux@etu.univ-st-etienne.fr">Mail</a>
                    </div>
                    <div>
                        <i class="bi bi-telephone-fill"></i>
                        <a href="tel:+33749495357">Téléphone</a>
                    </div>
                    <div>
                        <i class="bi bi-linkedin"></i>
                        <a href="https://www.linkedin.com/in/romain-ducreux-009021399/" target="_blank">LinkedIn</a>
                    </div>
                    <div>
                        <i class="bi bi-github"></i>
                        <a href="https://github.com/RomainDcrx" target="_blank">GitHub</a>
                    </div>
                </div>

                <p class="footer-copy">© {{ "now"|date("Y") }} — Ducreux — Tous droits réservés.</p>

            </div>
        </footer>

    </ul>
</div>
{% endblock %}
