{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Section activitées personnelles</h1>

    Mes activités extra scolaire se résument surtout au jeux vidéos mais aussi un peu au sport, ou encore le temps passé avec mes proches.<br>
    L'informatique est très présent dans ma vie : j'ai un ordinateur personnel que j'ai monté aidé d'un ami, ce qui m'a permis d'en apprendre plus sur chaque composants et aussi sur la façon avec laquelle assembler les différentes parties.<br>
    De plus comme je joue beaucoup aux jeux sur mon pc, j'ai aquis des connaissances sur des logiciels d'optimisations, mais aussi de mise a jour des différents composants des pc ou encore des logiciels sources comme le BIOS.<br>
    En recherchant sur des forums j'ai aquis diverses connaissances liées aux problèmes que j'ai pu rencontrer.<br>
    J'ai aussi appris a naviguer en sécurité sur le net et reconnaitre les anarques sans problèmes.<br>
    De plus j'ai l'habitude de résoudre diverses problèmes informatiques pour mes proches.<br>
    J'essaie quand même de garder la forme en faisiant du sport, je suis inscrit a la salle de muscu j'y vais 2 à 3 fois par semaine.
    <ul>

                <footer id="footer-full">
            <div class="footer-content-medium">

                <div class="footer-row">
                    <div>
                        <i class="bi bi-envelope-fill"></i>
                        <a href="mailto:romain.ducreux@etu.univ-st-etienne.fr">Mail</a>
                    </div>
                    <div>
                        <i class="bi bi-telephone-fill"></i>
                        <a href="tel:+33749495357">Téléphone</a>
                    </div>
                    <div>
                        <i class="bi bi-linkedin"></i>
                        <a href="https://www.linkedin.com/in/romain-ducreux-009021399/" target="_blank">LinkedIn</a>
                    </div>
                    <div>
                        <i class="bi bi-github"></i>
                        <a href="https://github.com/RomainDcrx" target="_blank">GitHub</a>
                    </div>
                </div>

                <p class="footer-copy">© {{ "now"|date("Y") }} — Ducreux — Tous droits réservés.</p>

            </div>
        </footer>
    </ul>
</div>
{% endblock %}
