{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Compétence : Connecter</h1>

    <a href="https://docs.google.com/document/d/1HuZhG758znsgsN9n578YpHx75eqAZDv1cecfumZFVtk/edit?usp=sharing" class="btn-lien">AC12.01 Mesurer et analyser les signaux</a><br><br>
    <a href="https://docs.google.com/document/d/1VVqMJQt-s84RMVz9Lz4ZC6yI8OoXOI0LDdMRcAY-wSY/edit?usp=sharing" class="btn-lien">Analyse réflexive -- AC12.01 : Mesurer et analyser les signaux</a><br><br>
    
    <a href="https://docs.google.com/document/d/1csvs36Gz8cCJVwcdJl0kYBguMe7njI93/edit?usp=sharing&ouid=115482077810493883746&rtpof=true&sd=true" class="btn-lien">AC12.05 : Communiquer avec un tiers et adapter son discours</a><br><br>
    <a href="https://docs.google.com/document/d/1eYG-oOAZHK6KAUXwz6MVNlysCihRiZr7/edit?usp=sharing&ouid=115482077810493883746&rtpof=true&sd=true" class="btn-lien">Analyse réflexive -- AC12.05 : Communiquer avec un tiers et adapter son discours</a><br><br>
    <ul>
        <footer id="footer-full">
            <div class="footer-content-medium">

                <div class="footer-row">
                    <div>
                        <i class="bi bi-envelope-fill"></i>
                        <a href="mailto:romain.ducreux@etu.univ-st-etienne.fr">Mail</a>
                    </div>
                    <div>
                        <i class="bi bi-telephone-fill"></i>
                        <a href="tel:+33749495357">Téléphone</a>
                    </div>
                    <div>
                        <i class="bi bi-linkedin"></i>
                        <a href="https://www.linkedin.com/in/romain-ducreux-009021399/" target="_blank">LinkedIn</a>
                    </div>
                    <div>
                        <i class="bi bi-github"></i>
                        <a href="https://github.com/RomainDcrx" target="_blank">GitHub</a>
                    </div>
                </div>

                <p class="footer-copy">© {{ "now"|date("Y") }} — Ducreux — Tous droits réservés.</p>

            </div>
        </footer>

    </ul>
</div>
{% endblock %}
