{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Section Compétences</h1>

    Au cours de mes premiers mois de formation j'ai pu commerncer à travailler les différentes compétences liées au BUT, 
    étant donné que je suis en première année je suis en pleine aquisition du niveau 1.
    Voici les trois compétences : 
    <ul>
        <section class="grid-sections">

            <a href="{{ path('administrer') }}" class="section-card">
                <h2>Administrer</h2>
            </a>

            <a href="{{ path('connecter') }}" class="section-card">
                <h2>Connecter</h2>
            </a>

            <a href="{{ path('programmer') }}" class="section-card">
                <h2>Programmer</h2>
            </a>

        </section>
                <footer id="footer-full">
            <div class="footer-content-medium">

                <div class="footer-row">
                    <div>
                        <i class="bi bi-envelope-fill"></i>
                        <a href="mailto:romain.ducreux@etu.univ-st-etienne.fr">Mail</a>
                    </div>
                    <div>
                        <i class="bi bi-telephone-fill"></i>
                        <a href="tel:+33749495357">Téléphone</a>
                    </div>
                    <div>
                        <i class="bi bi-linkedin"></i>
                        <a href="https://www.linkedin.com/in/romain-ducreux-009021399/" target="_blank">LinkedIn</a>
                    </div>
                    <div>
                        <i class="bi bi-github"></i>
                        <a href="https://github.com/RomainDcrx" target="_blank">GitHub</a>
                    </div>
                </div>

                <p class="footer-copy">© {{ "now"|date("Y") }} — Ducreux — Tous droits réservés.</p>

            </div>
        </footer>
    </ul>
</div>
{% endblock %}
