{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Section pour en savoir plus</h1>

    <h2>Mes passions/loisirs :</h2>

    <ul>
        <h6>
            <u>Les jeux vidéos</u><br>
            Je suis passioné de jeux vidéos depuis tout petit j'ai toujours adoré passer mon temps libre dessus. Je joue a différents types de jeux, solo ou en ligne. Sur ces différents jeux j'ai appris a utiliser la logique, avoir des réflexes et communiquer.<br>
            <img src="https://media.istockphoto.com/id/1513524265/fr/photo/contr%C3%B4leur-de-jeu-vid%C3%A9o-concept-de-jeu.jpg?s=2048x2048&w=is&k=20&c=TTeqwQ7HwLgwaDsiiXYUcnJd3bxK26kLJikPjZiWWcM=" width="300" height="200"><br>
            <br><u>Mon Setup</u>
            <br>Voila mon bureau ou se trouve mon PC et les utilitaires. C'est mon endroit de travail tout comme mon endroit de tranquillité, où je joue ou regarde des séries/vidéos. 
            <img src="{{ asset('images/Setup.jpg') }}" alt="Setup" witdhd"300" height="250"><br>
            <br><u>Mon activité sportive</u>
            <br>Je me rends aussi 2 à 3 fois par semaine à la salle de musculation appartenant à basic fit qui se trouve au Coteau a proximité de l'IUT<br>
            <img src="https://media.istockphoto.com/id/1441694626/fr/photo/main-dune-athl%C3%A8te-tenant-un-halt%C3%A8re-du-rack-dans-le-gymnase-exercice-f%C3%A9minin-de-fitness.jpg?s=2048x2048&w=is&k=20&c=jcdVPFX6haFxw4FXam4M-A03uuQC4nIIXFqnBgCKrO8=" width="300" height="200">
        </h6>

                <footer id="footer-full">
            <div class="footer-content-medium">

                <div class="footer-row">
                    <div>
                        <i class="bi bi-envelope-fill"></i>
                        <a href="mailto:romain.ducreux@etu.univ-st-etienne.fr">Mail</a>
                    </div>
                    <div>
                        <i class="bi bi-telephone-fill"></i>
                        <a href="tel:+33749495357">Téléphone</a>
                    </div>
                    <div>
                        <i class="bi bi-linkedin"></i>
                        <a href="https://www.linkedin.com/in/romain-ducreux/" target="_blank">LinkedIn</a>
                    </div>
                    <div>
                        <i class="bi bi-github"></i>
                        <a href="https://github.com/RomainDcrx" target="_blank">GitHub</a>
                    </div>
                </div>

                <p class="footer-copy">© {{ "now"|date("Y") }} — Ducreux — Tous droits réservés.</p>

            </div>
        </footer>
    </ul>
</div>
{% endblock %}
